.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  color: #0a0a0a;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
}

.introText {
  text-align: center;
  display: grid;
  gap: 0.2em;
  margin-bottom: 1.5em;
}

.welcomeText {
  font-size: large;
  font-weight: 550;
}

.loginText {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.infoText {
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.inputGroup label {
  font-size: medium;
  margin: 0.4rem 0;
  font-weight: 600;
}

.inputGroup input {
  width: 100%;
  padding: 0.9rem 0.8rem;
  outline: none;
  font-size: medium;
  border-radius: 8px;
  border: 1px solid rgba(112, 99, 99, 1);
  font-weight: 500;
  margin-bottom: 2rem;
}

.button {
  width: 100%;
  text-align: center;
  padding: 12px 16px;
  background: rgb(15, 15, 15);
  border: 1px solid rgb(112, 99, 99);
  font-size: 16px;
  color: #fff;
  outline: none;
  border-radius: 8px;
}

.button:hover {
  color: #0070f3;
  background: rgba(255, 255, 255);
  transition: 0.5s ease-out;
}

.button::disabled {
  cursor: not-allowed;
  background: rgb(221, 35, 35);
}

.button::disabled:hover {
  cursor: not-allowed;
  color: #fcf9f9;
  background: rgb(221, 35, 35);
}

.actionText {
  text-decoration: underline;
  margin-top: 10px;
}

.actionText a {
  font-weight: bold;
  cursor: pointer;
}

.left {
  display: block;
  background: url("../../../assets/background.png");
}

@media screen and (max-width: 821px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .left {
    display: none;
  }
}

@media screen and (min-width: 812px) {
  .inputGroup {
    width: 30vw;
  }
}
